#badEndingImg{
    width: 75%;
    height: 400px;
    visibility: visible;
}

#goodEndingImg{
    width:75%;
    height: 400px;
    visibility: hidden;
}

.goodEnding, .badEnding{
    position: absolute;
}

.variableSlidersOne{
    position: absolute;
    display: block;
    margin-top: 400px;
    margin-left: 10px;
    text-align: left;
}

.variableSlidersTwo{
    position: absolute;
    display: block;
    margin-top: 400px;
    margin-left: 55%;
    text-align: right;
}

.images{
    margin-top: 5%;
}